p {
    background-color: #b3b3b3;
    border-style: dashed;
    border-color: green;
    border-right-width: 0px;
    border-left-width: 0px;
}

h2 {
    background-color: #b3b3b3;
    border-style: dashed;
    border-color: green;
    border-right-width: 0px;
    border-left-width: 0px;
}

h1 {
    background-color: #b3b3b3;
    border-style: dashed;
    border-color: green;
    border-right-width: 0px;
    border-left-width: 0px;
}

nav {
    background-color: #b3b3b3;
    border-style: dashed;
    border-color: green;
    border-right-width: 0px;
    border-left-width: 0px;
    margin: auto;
}

button {
    padding: 8px;
    width: 100%;
    margin: auto;
    display: block;
    font-size: 24px;
}

#wrapper{
    background-color: #e6e6e6;
    border-style: dashed;
    border-right-width: 0px;
    border-left-width: 0px;
    margin: auto;
    width: 98%;
}   

#header {
    background-color: #cccccc;
    border-style: dashed;
    border-color: red;
    border-right-width: 0px;
    border-left-width: 0px;
    /*
    position: sticky;
    top: 0;
    */
}


#footer {
    background-color: #cccccc;
    clear: both;
}

#left {
    background-color: #cccccc;
    border-style: dashed;
    border-color: blue;
    border-right-width: 0px;
    border-left-width: 0px;
    float: left;
    position: sticky;
    top: 0;
    width: 20%;
}

#right {
    background-color: #cccccc;
    border-style: dashed;
    border-color: darkgoldenrod;
    border-right-width: 0px;
    border-left-width: 0px;
    float: right;
    /*
    position: sticky;
    left: 0;
    */
    width: 80%;
}

/* The following 5 id's are used to subdivide sections as you see fit ***/

#subleft {
    background-color: #cccccc;
    float: left;
    width: 50%;
}

#subright {
    background-color: #cccccc;
    float: right;
    width: 50%;
}

#subtop {
    border-style: dashed;
    border-color:purple;
    background-color: #cccccc;
    border-right-width: 0px;
    border-left-width: 0px;
    float: inline-start;
}

#submiddle {
    border-style: dashed;
    border-color:purple;
    background-color: #cccccc;
    border-right-width: 0px;
    border-left-width: 0px;
    position: relative;
}

#subbottom {
    border-style: dashed;
    border-color:purple;
    background-color: #cccccc;
    border-right-width: 0px;
    border-left-width: 0px;
    float: inline-end;
}

/* ***/